<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Скинути пароль</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; line-height: 1.6; max-width: 600px; margin: auto;">
    <h2 style="color: #B64038;">Скинути пароль</h2>
    <p>Добрий день, <strong th:text="${username}">[username]</strong>!</p>
    <p>Щоб скинути пароль і зберегти новий, перейдіть за посиланням посилання:</p>
    <a th:href="${resetPasswordLink}"
       style="display: inline-block; background-color: #B64038; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-top: 20px;">Скинути
        пароль</a>
    <div style="margin-top: 20px; font-size: small; color: #666;">
        <p>Посилання дійсне 12 годин.</p>
    </div>
    <div style="margin-top: 20px; font-size: small; color: #999;">
        <p>Це автоматичний лист. Будь ласка, не відповідайте на нього.</p>
    </div>
</div>
</body>
</html>
