/.idea/
/docker/.env
/docker/.env.dev
/docker/.env.prod
/docker/mongo/mongodb-keyfile
/docker/mongo/mongodb-keyfile.**
/google/credentials.**
/docker/postgres-db-init-script/init.sql
/api-gateway/bin/
/geojson-generator/bin/
/notification-api/bin/
/photo-api/bin/
/user-api/bin/